In [1]:

# Create a sample DataFrame with null values
data = [
    (1, "Alice", 29, "New York"),
    (2, "Bob", None, "San Francisco"),
    (3, None, 35, None),
    (4, "David", None, "Seattle"),
    (5, "Eve", 30, None)
]

columns = ["id", "name", "age", "city"]

df = spark.createDataFrame(data, columns)

# Show the original DataFrame
print("Original DataFrame:")
df.show()

# Drop rows with any null values
df_drop_any = df.dropna()

print("DataFrame after dropping rows with any null values:")
df_drop_any.show()

# Drop rows with nulls in specific columns (e.g., "age" and "city")
df_drop_specific = df.dropna(subset=["age", "city"])

print("DataFrame after dropping rows with nulls in specific columns (age, city):")
df_drop_specific.show()

# Drop rows where all columns are null
df_drop_all_nulls = df.dropna(how="all")

print("DataFrame after dropping rows where all columns are null:")
df_drop_all_nulls.show()

Collecting spylon-kernel
  Using cached spylon-kernel-0.4.1.tar.gz (33 kB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [18 lines of output]
      /private/var/folders/f9/837t71m55xg58400l87yxsgm0000gn/T/pip-install-e_4pn8sf/spylon-kernel_a9f321dbe6144120a23b7b404edadcd7/versioneer.py:418: SyntaxWarning: invalid escape sequence '\s'
        LONG_VERSION_PY['git'] = '''
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "/private/var/folders/f9/837t71m55xg58400l87yxsgm0000gn/T/pip-install-e_4pn8sf/spylon-kernel_a9f321dbe6144120a23b7b404edadcd7/setup.py", line 14, in <module>
          version=versioneer.get_version(),
                  ^^^^^^^^^^^^^^^^^^^^^^^^
        File "/private/var/folders/f9/837t71m55xg58400l87yxsgm0000gn/T/pip-install-e_4pn8sf/spylon-kernel_a9f321dbe6144120a23b7b404edadcd7/versioneer.py", line 1476, in get_version
          return get_versions()["version"]
                 ^^^^^^^^^^^^^^
        File "/private/var/folders/f9/837t71m55xg58400l87yxsgm0000gn/T/pip-install-e_4pn8sf/spylon-kernel_a9f321dbe6144120a23b7b404edadcd7/versioneer.py", line 1408, in get_versions
          cfg = get_config_from_root(root)
                ^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "/private/var/folders/f9/837t71m55xg58400l87yxsgm0000gn/T/pip-install-e_4pn8sf/spylon-kernel_a9f321dbe6144120a23b7b404edadcd7/versioneer.py", line 342, in get_config_from_root
          parser = configparser.SafeConfigParser()
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
      AttributeError: module 'configparser' has no attribute 'SafeConfigParser'. Did you mean: 'RawConfigParser'?
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.
Note: you may need to restart the kernel to use updated packages.

In [29]:
data = [
    (1, "Alice", 29, "New York"),
    (2, "Bob", None, "San Francisco"),
    (3, None, 35, None),
    (4, "David", None, "Seattle"),
    (5, "Eve", 30, None),
    (None, None, None, None)
]

columns = ["id", "name", "age", "city"]

df = spark.createDataFrame(data, columns)

In [31]:
df.show()

+----+-----+----+-------------+
|  id| name| age|         city|
+----+-----+----+-------------+
|   1|Alice|  29|     New York|
|   2|  Bob|NULL|San Francisco|
|   3| NULL|  35|         NULL|
|   4|David|NULL|      Seattle|
|   5|  Eve|  30|         NULL|
|NULL| NULL|NULL|         NULL|
+----+-----+----+-------------+

In [33]:
df.dropna().show()

+---+-----+---+--------+
| id| name|age|    city|
+---+-----+---+--------+
|  1|Alice| 29|New York|
+---+-----+---+--------+

In [35]:
df.dropna(subset=["name"]).show()

+---+-----+----+-------------+
| id| name| age|         city|
+---+-----+----+-------------+
|  1|Alice|  29|     New York|
|  2|  Bob|NULL|San Francisco|
|  4|David|NULL|      Seattle|
|  5|  Eve|  30|         NULL|
+---+-----+----+-------------+

In [43]:
df.dropna("all").show()

+---+-----+----+-------------+
| id| name| age|         city|
+---+-----+----+-------------+
|  1|Alice|  29|     New York|
|  2|  Bob|NULL|San Francisco|
|  3| NULL|  35|         NULL|
|  4|David|NULL|      Seattle|
|  5|  Eve|  30|         NULL|
+---+-----+----+-------------+

In [73]:
df.na.fill({
"age":1.7,
    "name":"NA",
    "city":"NA",
    "id":-1
    
    
}).show()

+---+-----+---+-------------+
| id| name|age|         city|
+---+-----+---+-------------+
|  1|Alice| 29|     New York|
|  2|  Bob|  1|San Francisco|
|  3|   NA| 35|           NA|
|  4|David|  1|      Seattle|
|  5|  Eve| 30|           NA|
| -1|   NA|  1|           NA|
+---+-----+---+-------------+

In [79]:
df.na.fill(17).na.fill("NA").show()

+---+-----+---+-------------+
| id| name|age|         city|
+---+-----+---+-------------+
|  1|Alice| 29|     New York|
|  2|  Bob| 17|San Francisco|
|  3|   NA| 35|           NA|
|  4|David| 17|      Seattle|
|  5|  Eve| 30|           NA|
| 17|   NA| 17|           NA|
+---+-----+---+-------------+

In [139]:
oldcols = df.columns
newcols = []

for i in oldcols:
    newcols.append(i+"_x")

newcols

['id_x', 'name_x', 'age_x', 'city_x']

In [141]:


[ f"{i}_x" for i in df.columns ]

['id_x', 'name_x', 'age_x', 'city_x']